body {
  background: #050505;
  color: white;
  font-family: sans-serif;
}

/* КНОПКИ */
button {
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  color: #ff0000;
  transform: scale(1.05);
}

/* АКТИВНЫЕ КНОПКИ (shuffle / repeat) */
.active {
  color: #ff0000;
}

/* ПОЛОСКИ (прогресс и звук) */
input[type="range"] {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 5px;

  /* тёмный + яркий красный */
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ff0000 var(--value, 0%),
    #300 var(--value, 0%),
    #300 100%
  );

  outline: none;
}

/* КРУГЛАЯ ТОЧКА */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

/* SIDEBAR */
#playlists div {
  padding: 5px 0;
  border-bottom: 1px solid #200;
}

/* ТРЕКИ */
#tracks div {
  border-color: #300;
  transition: 0.2s;
}

#tracks div:hover {
  background: #111;
}

/* ОБЛОЖКА */
#cover {
  object-fit: cover;
  border: 1px solid #300;
}

/* НИЖНИЙ ПЛЕЕР */
audio {
  display: none;
}
